.moviesGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    grid-gap: 2rem;
    padding: 1rem;
    justify-content: center;
}



@media screen and (max-width: 768px){
    .moviesGrid{
        grid-template-columns: 100%;
        
    }
}