.movieCard{
    color: #fff;
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
    
}

.movieImg{
    border-radius: 10px;
    background-color: rgb(185, 185, 185);
    box-shadow: 0 0  20px rgb(255, 255, 255);
    opacity: 0.8;
}

.movieImg:hover{
    box-shadow: 0 0 20px rgb(255, 255, 255);
    transform: scale(1.03);
    transition: all 0.2s ease;
    opacity: 10;
    cursor: pointer;
    
}

h3{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.5rem 0;
}


@media screen and (max-width: 768px){
    .movieImg{
        width: 70%;
        height: auto;
    }
}

